.helpSymbol {
    -fx-background-image: url("images/ingameHelpSymbol.png");
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-size: 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 17;
    -fx-border-radius: 17;
    -fx-border-width: 5;
}

.settingsSymbol {
    -fx-background-image: url("images/settingsSymbol.png");
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-size: 60px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 5;
}

.hideSymbol {
    -fx-background-image: url("images/hideEye.png");
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-size: 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-background-radius: 0;
    -fx-border-radius: 15;
    -fx-border-width: 5;
}

.editSymbol {
    -fx-background-image: url("images/pencil.jpeg");
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
    -fx-background-radius: 0;
    -fx-border-radius: 15;
    -fx-border-width: 5;
}

.errorLabel {
    -fx-text-fill: red;
}

.informationLabel {
    -fx-text-fill: #25c625;
}

/* Friend list */
.normalFriendHBox {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid none none none;
}
.onHoverFriendHBox {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid none none none;
    -fx-background-color: lightblue;
}
.worldMapBackground {
    -fx-background-image: url("images/WorldMap-Background.jpg");
    -fx-background-size: cover;
    -fx-opacity: 0.50;
}

.welcomeSceneButton {
    -fx-background-color: #FFF2CC;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-min-width: 80px;
    -fx-min-height: 30px;
}

.welcomeMessage {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-min-height: 45px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 0px 0px 0px 3px;
}

.alertDialogName {
    -fx-padding: 10 0 0 0 ;
    -fx-pref-height: 100px;
    -fx-pref-width: 300px;
}