#settingsSymbol {
	-fx-background-image: url("settingsSymbol.png");
	-fx-background-size: 60px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: 50%;
	-fx-background-radius: 15;
	-fx-border-radius: 15;
	-fx-border-width: 5;
}
